<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>Jurado</title>
        <link rel="stylesheet" href="jury.component.scss">
    </head>
    <body>
        <div>
            <object data="test/Presentacion proyecto.pdf" type="application/pdf" width="300" height="200">    
                <a href="test/Presentacion proyecto.pdf">presentacion.pdf</a>
            </object>
            <!-- <embed src="test/Presentacion proyecto.pdf" type="application/pdf"   height="300px" width="100%" class="responsive">
            <a href="test/Presentacion proyecto.pdf">download</a> -->
            <embed src="test/Presentacion proyecto.pdf" type="application/pdf"   height="700px" width="500">
            <div class="plugin-pdf-pro" data-mode="normal" data-pdf-url="test/Presentacion proyecto.pdf" data-color="#EB6E00"></div>
        </div>
    </body>
</html>