body{
    margin: 0;
    padding: 0;
    display: flex;
    background: #1a0321;
    font-family:consolas;
}

html, body{
    height: 100%;
}
  
.contenedor{
    height: 49%;
    margin: 1% 1%;
    justify-content: center;
    align-items: center;
}

input{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: black;
    width: 330px; 
    height: 40px;
    border-radius: 5px;
    font-size:large ;
    display: block;   
    margin-top: 20px;
    margin-bottom: 20px;
}
label{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: antiquewhite;
    font-size:large ;
}
.register{
    border:4px solid #fff;
    border-radius: 5px;
    padding: 17px;
    width: 300px;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: antiquewhite;
    font-size:xx-large ;
    text-align:center;
}
select{
    border-radius: 5px;
    width: 200px; 
    height: 40px;
}
option{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-size:large ;
}
button{
    color:  antiquewhite;
    background-color: #1a0321;
    border:1px solid #fff;
    margin-top: 30px;
    padding: 7px;
    width: 90px;  

}
small{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: antiquewhite;
    font-size:large ;
}
p{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: RED;
    font-size:large ;
}
textarea{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-size:medium ;
    border-radius: 5%;
    width: 330px;
}