    
   <!DOCTYPE html>
   <html lang="en">
   <head>
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
       <title>Interfaz</title>
       <link rel="stylesheet" href="login.component.scss">
   </head>
   <body>
       <div>
         <h1 class="login">Login</h1>
         <form [formGroup]="form" novalidate>
         <input class="inputs" type="text" placeholder="User" formControlName = "user">
         <div *ngIf="(userField.invalid && userField.touched)">
             <mat-hint *ngIf="userField.hasError('required')">Campo Requerido</mat-hint>
        </div>
         <input class="inputs" type="text" placeholder="Password" formControlName = "password">
         <div *ngIf="(passwordField.invalid && passwordField.touched)">
            <mat-hint *ngIf="passwordField.hasError('required')">Campo Requerido</mat-hint>
        </div>    
        </form>
         <button mat-raised-button (click) = "login($event)">
            Send
        </button>
        <p>¿ya te registraste? si no da click <a href="/register">aqui</a></p>
    </div>
   </body>
   </html>
