<form class="row middle-xs center-xs " style="height: 80vh" [formGroup]="form" (submit)="login()">
    <div class="col-xs-12  col-md-5 col-lg-4">
      <div class="card mat-elevation-z5">
  
        <div class="row">
          <div class="col-xs-12  ">
            <h1>Ingreso AlfaGl</h1>
          </div>
        </div>
  
        <div class="row">
          <mat-form-field class="col-xs-12  ">
            <input matInput placeholder="Usuario" autocomplete="off"
                   [formControlName]="formField.user">
  
          </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="col-xs-12 ">
                <input matInput placeholder="Contraseña" autocomplete="off"
                       [formControlName]="formField.p" [type]="pFiedType">
              </mat-form-field>
        </div>
        <div class="row">
          <div class="col-xs-12 ">
            <button mat-raised-button color="primary">
                    (click)="login()"
              <span>Ingresar</span>
              <mat-progress-bar mode="indeterminate" class="bar" ></mat-progress-bar>
  
            </button>
          </div>
        </div>
  
      </div>
    </div>
  
  </form>
  