<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<div>
    <body>
        <div autocomplete="off">
            <br>
            <br>
            <br>
            <h1 class="register">Register Group</h1>
            <form  [formGroup]="form" novalidate (ngSubmit)="save($event)">
                <p>
                    <label>Project Name:</label> <br />
                    <input type="text" formControlName="nameProject" placeholder="Project Name">
                </p>
                <div *ngIf="nameProjectField.errors && nameProjectField.touched">
                    <p *ngIf="nameProjectField.hasError('required')">
                        Campo Requerido
                    </p>
                </div>
                <p>
                    <label>Group Code:</label> <br />
                    <input type="number" formControlName="codeGroup" placeholder="Group Code">
                </p>
                <div *ngIf="codeGroupField.errors && codeGroupField.touched">
                    <p *ngIf="codeGroupField.hasError('required')">
                        Campo Requerido
                    </p>
                </div>
                <p>
                    <label>Students Code:</label> <br />
                    <input type="number" formControlName="codeStudent" placeholder="Group Code">
                </p>
                <div *ngIf="codeStudentField.errors && codeStudentField.touched">
                    <p *ngIf="codeStudentField.hasError('required')">
                        Campo Requerido
                    </p>
                </div>
                <p>
                    <label>Creation date:</label> <br />
                    <input type="date" formControlName="date">
                </p>
                <div *ngIf="dateField.errors && dateField.touched">
                    <p *ngIf="dateField.hasError('required')">
                        Campo Requerido
                    </p>
                </div>
                <p>
                    <label>Description:</label> <br />
                    <br>
                    <textarea cols="30" rows="10" formControlName="text"
                        placeholder="Example: This project is about technology..."></textarea>
                    <small>{{ textField.value.length }}/200</small>
                </p>
                <div *ngIf="textField.errors && textField.touched">
                    <p *ngIf="textField.hasError('required')">
                        Campo Requerido
                    </p>
                    <p *ngIf="textField.hasError('maxlength')">
                        Te pasaste, máximo deben haber 200 caracteres.
                    </p>
                    <p *ngIf="textField.hasError('minlength')">
                        La descripcion minima es de 50 letras.
                    </p>
                </div>
                <p>
                    <label>Career:</label> <br />
                    <br>
                    <select formControlName="career">
                        <option value="1">Business Administration</option>
                        <option value="2">Law</option>
                        <option value="3">Economy</option>
                        <option value="3">Civil Engineering</option>
                        <option value="3">Architecture</option>
                        <option value="3">Electric engineering and telecommunications</option>
                        <option value="3">industrial engineering</option>
                        <option value="3">Computer and systems engineering</option>
                        <option value="3">Psychology</option>
                    </select>
                </p>
                <div *ngIf="careerField.errors && careerField.touched">
                    <p *ngIf="careerField.hasError('required')">
                        Campo Requerido
                    </p>
                </div>
                <button mat-raised-button type="submit">
                    Send
                </button>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </form>
        </div>
    </body>
</div>
</html>