<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Interfaz</title>
    <link rel="stylesheet" href="user.component.scss">
</head>
<body>
    <div>
      <h1 class="login">Registro</h1>
      <input class="inputs" type="text" placeholder="Usuario">
      <input class="inputs" type="password" placeholder="Password">
      <input class="inputs" type="password" placeholder="confirm Password">
      <input class="inputs" type="text" placeholder="nombre completo">
      <input class="inputs" type="number" placeholder="numero">
      <input class="inputs" type="date" placeholder="Fecha Nacimiento">
      <a href="#" class="btn-neon" style="margin-top: 40px; margin-left:90px; margin-right: 40px;">
         <span id="span1"></span>
         <span id="span2"></span>
         <span id="span3"></span>
         <span id="span4"></span>
         Enviar
     </a>
    </div>
    
</body>
</html>